@page
@model NorthwindWeb.Pages.ContactModel
@{
}
<div class="jumbotron" style="text-align: center">




    <button type="button" class="btn btn-primary" onclick="history.back()">Go back</button>


</div>